<!DOCTYPE html>
<html>
	<head>
		<title> Marwen Wired </title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="description" content="Marwen Internet Art Class">
		<meta name="author" content="Nick Briz">
		<link rel="icon" type="image/x-icon"  href="favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/styles.css">
	</head>
	<body>

		<div class="loader"> loading </div>

 		<span id="header">{{header}}</span>

		<!-- start of main section -->

		<section id="main">
			<div class="container">

				<h1>Hypermedia on the WWW </h1>
				<br><br><br>

				<p>
					<a href="http://cloudsovercuba.com/" target="_blank">
						<img src="images/cloudscuba.png" class="rwd">
					</a><br><br><br>
				</p>

				<br><br><br>

				<h2> the World Wide Web </h2>

				<br><br><br>

				<div class="row clearfix">
				    <div class="column full"> 
				    	<p>
				    		The World Wide Web is NOT the Internet, confusing the two would be like confusing cars for roads. the Web is one of the many things we use the Internet for, in the same way that cars are one of the many vehicles that travel on roads. 
				    	</p>
				    </div>
				</div>

				<br><br><br>

				<div class="row clearfix">
				    <div class="column full"> 
				    	<img src="images/applications.jpg" class="rwd"><br><br>
				    </div>
				</div>

				<br><br><br>



				<div class="row clearfix">
				    <div class="column full"> 
						<p>
				    	In 1945, an American engineer/inventor/thinker named Vannevar Bush wrote an article in the Atlantic entitled, <a href="http://www.theatlantic.com/magazine/archive/1945/07/as-we-may-think/303881/" target="_blank">“As We May Think,”</a> where he described a theoretical machine for storing and reteriving information based on associations ( which he argued would be more akin to the way we think than the way information was currently being organized ) he called it the “memex.” This text influenced lots of radically minded engineers and futurists who followed including <a href="https://www.youtube.com/watch?v=yvx4ObDBGZs" target="_blank">Douglas Englebart</a> ( who among many other things invented the mouse ) and <a href="https://www.youtube.com/watch?v=En_2T7KH6RA" target="_blank">Ted Nelson</a>, who coined the term “hypertext” and created one of the first applications ( called Xanadu ) which had linked documents. 
				    	</p>				    
				    </div>
				</div>

				<br><br><br>

				<div class="row clearfix">
				    <div class="column half"> 
				    	<img src="images/memex.jpg" class="rwd">
				    </div>
				    <div class="column half"> 
				    	<iframe width="560" height="315" src="//www.youtube.com/embed/En_2T7KH6RA" frameborder="0" class="rwd" allowfullscreen></iframe>
				    </div>
				</div>
				
						    
				<br><br><br>


				<div class="row clearfix">
				    <div class="column full"> 
				    	<p>
				    	In 1989 Tim Berners-Lee wrote a proposal for a system for linking hypertext documents over the Internet. He submitted it to his boss at CERN ( the research institute he was working at ), who wrote in a memo, “vague, but interesting.” Despite the lack of support Berners-Lee went ahead and created HTTP ( Hypertext Transfer Protocol ) and the first application which could read documents formatted with HTML ( Hypertext Markup Language ). CERN still wasn’t interested, so he posted it to a few Internet newsgroups for free ...the rest was history, the World Wide Web was born. 
				    	</p>
				    </div>
				</div>



				<br><br><br>

				<div class="row clearfix">
				    <div class="column half"> 
				    	<p>
				    	Afraid that the growing popularity of the Web might lead to corporate competition creating proprietary ( non-open ) web applications that would destroy the integrity and open nature of the Web, Berners-Lee held the first WWW conference to discuss open web standards. This lead to the creation of the World Wide Web Consortium ( <a href="http://www.w3.org/" target="_blank">W3C</a> ) which he still directs to this day. The W3C is an international organization open to anyone ( <a href="http://www.w3.org/Consortium/Member/List" target="_blank">and made up of governments, companies, not-for-profits, universities, etc.</a> ) and is in charge of developing the open standards for the web.
				    	</p>
				    </div>
				    <div class="column half"> 
				    	<img src="images/bernerslee.jpg" class="rwd">
				    </div>
				</div>

				<br><br><br><br><br>


				<h2> Web Art </h2>

				<iframe width="848" height="477" src="https://www.youtube.com/embed/q2PlTV-RvnE" frameborder="0" allowfullscreen></iframe>
				<br><br><br>
				<br><br><br>

				<a href="http://www.thewildernessdowntown.com/" target="_blank"><img src="images/koblin.jpg" class="rwd"></a><br>
				<div class="tiny center"> the wilderness downtown - Aaron Koblin and Chris Milk</div>
				<br><br><br>
				<br><br><br>


				

				<h2> Intro to HTMl </h2>
				<br><br><br><br>

				<div class="row clearfix">
				    <div class="column third"> 
				    	rather than simply writing plain text into our html page ( as we have been ), we use <b>html elements</b> in order to give our html page structure and organize our content
				    </div>
				     <div class="column third">
				     	an element usually consists of a pair of <b>tags</b>, an opening tag has a <code class="k"><</code> followed by characters that specify which tag it is, and then a <code class="k">></code>. the closing tag is the same except with <code class="k">/</code> before the characters.
				     </div>
				    <div class="column third"> 
				    	between the opening <code class="k"> &lt;tag&gt; </code> and the closing <code class="k"> &lt;/tag&gt; </code> is where we place our content.
				    </div>
				</div>

				<br><br>

				<img src="images/diagram1.png" class="rwd"><br>
				a list of all the html elements can be found <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element" target="_blank">here</a>

				<br><br><br><br>

				<div class="row clearfix">
				    <div class="column third"> 
				    	inside the opening tag ( <i>between the</i> <code class="k"> &lt;tag </code> <i>and the</i> <code class="k">></code> ) you can include <b>attributes</b>. attributes are used to add extra information <i>about</i> that particular element.
				    </div>
				     <div class="column third">
				     	the first part of an attribute is the <b>attribute name</b>. it indicates what kind of extra information your going to add to that element. these names are specific, always lower case and followed by a <code class="k">=</code>
				     </div>
				    <div class="column third"> 
				    	the second part of an attribute is the <b>attribute value</b>, this is the info or setting for this attribute, different elements can have different values, but they should always follow the <code class="k">=</code> and be surrounded in <code class="k">" "</code>
				    </div>
				</div>

				<br><br>

				<img src="images/diagram2.png" class="rwd"><br>
				 a list of all the attributes ( and their corresponding elements ) can be found <a href="http://www.w3.org/TR/REC-html40/index/attributes.html" target="_blank">here</a>

				 <br><br><hr><br>

				 <p>
				 	when we're ready to create a new html page there are a few basic tags and structure that we should always start with ( this can be considered a basic html template )
				 </p>

				 <br>	<br>
				 <img src="images/diagram3.gif" class="rwd"><br><br>

				 <p>
				 	first, the <code class="k"> &lt;!DOCTYPE html&gt; </code>, this is a declaration that tells your browser that the code that follows conforms to the standards of a particular version of HTML, these used to be long and complicated... but its short and sweet now <br><br>

				 	after that we've got our first official <b>element</b>, <code class="k"> &lt;html&gt; </code> the opening tag indicates that everything inbetween it and the closing <code class="k"> &lt;/html&gt; </code> is going to be html code <br><br>

				 	inside of the html element there are two major elements, the <code class="k"> &lt;head&gt; </code> ... <code class="k"> &lt;/head&gt; </code> which contains information about the page, and the <code class="k"> &lt;body&gt; </code> ... <code class="k"> &lt;/body&gt; </code> which contains everything that will show up inside the browser window. <br><br>

				 	the only thing we absolutely need inside of our head element is a <code class="k"> &lt;title&gt; </code> Page Title <code class="k"> &lt;/title&gt; </code>. you won't see this <i>inside</i> your browser window ( because its not in the body ) but will show up in lots of other places for example on your browser tab, and also in google search results. <br><br>

				 	inside the body you include all of the elements that will create the structure of your content, for example you can create headers with <code class="k"> &lt;h1&gt; </code> ... <code class="k"> &lt;/h1&gt; </code> and smaller headers with <code class="k"> &lt;h2&gt; </code> ... <code class="k"> &lt;/h2&gt; </code> and you can create paragraph containers with <code class="k"> &lt;p&gt; </code> ... <code class="k"> &lt;/p&gt; </code>


				 </p><br><br><br>

				 <br><br><br>

				<h2> file paths </h2>

				<br><br><br>


				<span style="font-size:32px"> folder<span class="pink">/</span>folder<span class="pink">/</span>file<span class="pink">.</span>html </span>
				<br><br><br>

				<div class="row clearfix">
				    <div class="column third"> 
				    	a <b>path</b> is the unique location of a particular file. a path points to a specific file by following its "directory tree" ( the folder within a folder within a folder etc. )

				    </div>
				     <div class="column third">
				     	there are two kinds of paths, the first is an <b>absolute path</b>, which lists the exact location of a file, starting from the root directory on that specific computer ( phone, laptop, server, etc. ) and ending with that file.
				     </div>
				    <div class="column third"> 
				    	the second way to write a path is known as a <b>relative path</b>, which lists the location of a particular file "relative" to ( starting from ) the file we are writing the path in.
				    </div>
				</div><br><br>


				<h3> Absolute Paths </h3>
				<br>
				here we have an image file... <br><br>
				<img src="images/rainbow.png" class="rwd">

				<br><br>

				<div class="row clearfix">
				    <div class="column third"> 
				    	<img src="images/laptop.svg" style="width:100%">
				    	<!-- icon Designed by Simon Child >> http://thenounproject.com/term/laptop/3960/ -->
				    	<br><br> <b>file:///Users/nbriz/Desktop/coolpage/images/rainbow.jpg</b>
				    </div>
				     <div class="column third">
				     	<br><br>
				     	on the left we have your laptop, here the absolute path of your file is as noted below it. but once you upload your file onto a server ( right image ) it now has a new absolute path.
				     </div>
				    <div class="column third"> 
				    	<img src="images/server.svg" style="width:100%">
				    	<!-- icon Designed by Yazmin Alanis >> http://thenounproject.com/term/servers/15885/ -->
				    	<br><br> <b>http://www.coolpage.com/images/rainbow.jpg</b>
				    </div>
				</div><br><br><br>


				<h3>Relative Paths</h3>
				<br>

				<div class="row clearfix">
				    <div class="column third"> 
				    	when your linking to pages or files in your own website its better to use <b>relative paths</b> becaue the absolute path will change when you upload your website ( folder ) from you computer onto your server.

				    </div>
				     <div class="column third">
				     	if all the files on your site where in the same folder than all you need to create a relative path is the file name: <b>rainbow.jpg</b>
				     </div>
				    <div class="column third"> 
				    	if your website has different sub folders, than your relative path needs to tell the browser how to get from the page your are currently on, and over to the file being referenced. example: <b>images/rianbow.jpg</b>
				    </div>
				</div>


				<img src="images/dirlayout.png" class="rwd"><br><br>

				<p>
					say for example we're on the index.html page above, to go from that "index.html" page to the "logo.jpg" file we would write a relative path like this: <code class="k">images/logo.jpg</code>
					<br><br>
					say for example we're in the nick.html page, we now need to go up and out of the "profiles" folder before we can enter into the "images" folder. to do this we use <code class="k">../</code> so a path from "nick.html" to "logo.jpg" would look like this: <code class="k">../images/logo.jpg</code>

				</p>


				<br><br>
				<br><br>
				<br>

				 <h3> relative paths in links && images </h3>

				 <img src="images/relative1.png" class="rwd"><br><br>

				 <img src="images/relative2.png" class="rwd"><br><br>

				 <p>
				 	note that the <code class="k"> &lt;img&gt; </code> element doesn't have a closing tag. not all html elements come in pairs, some ( like the image element ) stand alone.
				 </p>


				<br><br><br><br>

				<h2> the big idea </h2><br><br>

				<p>
					What is "hypermedia"? how is it different from traditional linear media?
				</p>

				<br><br>
				<form action="/answer" method="post" enctype="multipart/form-data" >
					<textarea name="answer"></textarea><br>
					<input type="text" name="name" placeholder="your first name" class="half"/>
					<input type="text" name="day" value="day2" style="display:none;" />
					<input type="submit" value="Submit" id="submit" class="button half" />
				</form>



			</div>
		</section>


		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/jquery-1.11.1.min.js" type="text/javascript"><\/script>')</script>
		<script src="js/main.js"></script>

	</body>
</html>