<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="description" content="Marwen Internet Art Class">
		<meta name="author" content="Nick Briz">
		<link rel="icon" type="image/x-icon"  href="favicon.ico">
		<link rel="stylesheet" type="text/css" href="../css/styles.css">
	</css>
	<body>

		<div class="loader">loading</div>

 		<span id="header">{{header}}</span>

		<!-- start of main section -->


		<section id="main">
			<div class="container">
				
				<h1 class="animated fadeInUp"> Marwen WIRED! <br>@RT 4 the INTERNET </h1>

				<br><br>

				<blockquote>
					<p class="center">“The single most important thing you need in order to have a career in the arts is persistence. The second most important thing you need is talent. The third most important thing is a grounding in how the online world works. Its that Important” — Cory Doctorow</p>
				</blockquote>

				<br><br>

				<div class="row clearfix">
				    <div class="column two-thirds"> 				    
						<p>
							Many of us live online, we use the Internet everyday for shopping, social media, gaming, news and so much more. The same technologies used to make all of those platforms can also be used to make and exhibit art. The browser is a blank canvas, with the right tools and skills you can turn the browser into an interactive and generative art work accessible to nearly anyone around the world instantly! In this course we’re learn how the Internet works and how to code everything from a simple website to dynamic Internet Art using HTML, CSS and JavaScript. 
						</p>
				    </div>
				    <div class="column third tiny"> 
				    	<img src="images/LillianSchwartz.gif"><br>
						Lillian Schwartz <br><a href="http://www.youtube.com/watch?v=diLa2lig3dw" target="_blank">the Artist and the Computer</a>
				    </div>
				</div>

				<br><br><br>

				<iframe width="848" height="477" class="rwd" src="https://www.youtube.com/embed/rdEZjZXirbA" frameborder="0" allowfullscreen></iframe>

			</div>

			

			<br><br><br>



			<div class="container" id="#syllabus">
				<h2> Schedule </h2>
				<div class="schedule">

					day 01 <a href="#day1">wtf is the Internet </a><br>
					day 02 <a href="#day2">Hypermedia on the WWW </a><br>
					day 03 <a href="#day3">demystifying the “Cloud”</a><br>										
					day 04 <a href="#day4">JavaScript: Porgamming the Web</a><br>
					day 05 <a href="#day5">Interaction + Animation</a><br>
					day 06 <a href="#day6">Paint by Numbers</a><br>
					day 07 <a href="#day7">the Algorithms that run our world </a><br>
					day 08 <a href="#day8">Coding Nature</a><br>
					day 09 <a href="#day9">Open Studio</a><br>
					day 10 <a href="#day10">epilogue ( beyond marwen wired )</a><br>
					<!--  --><br>
					bonus! <a href="#bonus1">CSS: form follows function; </a><br>
					bonus! <a href="#bonus2">X, Y, Z ( the third dimension )</a><br>
					<!-- day 03 <a href="#day3"> Online Identity: anonymity && authenticity </a><br> -->

				</div>
						

				<br><br>
				<h2> Lessons </h2>
				<br><br><br>

				


				<div class="row clearfix" id="day1">
				    <div class="column half"> 
				    	<h3>What Is the Internet really</h3>
						<br>
						<p>
							what is the Internet? how does it work? does anyone own it?  who makes the rules? who’s in control? why do i have to pay for it? who’s making money? the answers to these questions will set the stage for the conversations we will be having in class.
							<br><br>
							<div class="buttonDiv" id="day3">
								<a href="01" class="button">Day 01 Notes</a>
							</div>
						</p>
				    </div>
				    <div class="column half" id="day2"> 
				    	<h3> Hypermedia on the WWW  </h3>
						<br>
						<p>
							from Vannevar Bush to Ted Nelson to Tim Berners-Lee to u. we’ll discuss what the world wide web is and how it came to be as well as discuss the concepts of “hyper” media broadly. we’ll learn the fundamentals HTML ( hypertext markup language ) and how to use code editors and browsers to make web pages. 
							<br><br>
							<div class="buttonDiv" id="day4">
								<a href="02" class="button">Day 02 Notes</a>
							</div>
						</p>
				    </div>
				</div>

				<div class="row clearfix">
				    <div class="column half"> 
				    	<h3> demystifying the "Cloud" </h3>
						<br>
						<p>
							at the 2011 Apple Worldwide Developer’s Conference Steve Jobs announced, “we’re going to move the digital hub, the center of your digital life, into the cloud”, but what xactly is “the cloud” and are we sure we want to move our “digital life” there? we’re going to be learning FTP ( file transfer protocol ) and how we can take control of over our own “clouds.”
							<br><br>
							<div class="buttonDiv" id="day5">
								<a href="03" class="button">Day 03 Notes</a>
							</div>
						</p>				    	
				    </div>	
				    <div class="column half"> 
				    	<h3>Programming the Web</h3>
						<br>
						<p>
							we’ll learn the basix of programming ( using JavaScript, the programming language of the web ) such as data, variables, functions. we’ll look at how different artists ( even b4 code ) use instructions to produce very different kinds of work. 
							<br><br>
							<div class="buttonDiv" id="day6">
								<a href="04" class="button">Day 04 Notes</a>
							</div>
						</p>
				    </div>    
				</div>

				<div class="row clearfix">
					<div class="column half"> 
				    	<h3>Interaction + Animation</h3>
						<br>
						<p>
							we’ll learn the programming concepts of “loops” and “conditional statements” and how these can bring elements of interactivity and generative animations to our drawings. we’ll look at artists who use the kind of interactivity possible on the web to make participatory art
							<br><br>
							<div class="buttonDiv" id="day7">
								<a href="05" class="button">Day 05 Notes</a>
							</div>
						</p>
				    </div>
				    <div class="column half"> 
				    	<h3>Paint by Numbers</h3>
						<br>
						<p>
							we’ll continue to build on our programming skills by learning even more ways to draw arcs, lines and curves. we’ll also learn how to make our code more efficient by leveraging the computer’s amazing ability to do things really fast using “while loops” and “for loops”.
							<br><br>
							<div class="buttonDiv" id="day8">
								<a href="06" class="button">Day 06 Notes</a>
							</div>
						</p>
				    </div>
				</div>		    

				<div class="row clearfix">
				    <div class="column half"> 
				    	<h3>Algorithms run our world </h3>
						<br>
						<p>
							we’ll expand on what we’ve learned about “loops” and “conditional statements” and how in combination with mathematical functions these can be used to write “algorithms”, we’ll talk about the role algorithms play in today's world and how in our case we can use them to create generative and interactive drawings.
							<br><br>
							<div class="buttonDiv" id="day9">
								<a href="07" class="button">Day 07 Notes</a>
							</div>
						</p>
				    </div>
				    <div class="column half"> 
				    	<h3>Coding Nature</h3>
						<br>
						<p>
							programmers have been writing algorithms that imitate nature for years. creating code that models the way gravity works and the ways birds flock and much more. today we’ll be learning how to integrate some of the more popular of these algorithms into our code. 
							<br><br>
							<div class="buttonDiv" id="day10">
								<a href="08" class="button">Day 08 Notes</a>
							</div>
						</p>
				    </div>
				</div>

				<div class="row clearfix">
				    <div class="column half"> 
				    	<h3>open studio</h3>
						<br>
						<p>
							we’ll look at some more web art and specifically how these artists install their work in more traditional galleries. we’ll take sometime to polish our final projects and discuss how we’ll be presenting them in the final exhibition. 
							<br><br>
							<div class="buttonDiv" id="bonus1">
								<a href="09" class="button">Day 09 Notes</a>
							</div>
						</p>
				    </div>
				    <div class="column half"> 
				    	<h3> epilogue</h3>
						<br>
						<p>
							we’ll be using the last day of class to finish up our projects and tie up any loose ends. we’ll also be talking about where we can go from here. how can we continue our internet art practice after marwen. where can we host our site? where can we go to learn more? where can we go to get help? 
							<br><br>
							<div class="buttonDiv" id="bonus2">
								<a href="10" class="button">Day 10 Notes</a>
							</div>
						</p>
				    </div>
				</div>


				<h2>bonus lessons</h2>
				<br><br><br>

				<!-- BONUSES  -->

				<div class="row clearfix">
				    <!-- <div class="column half"> 
				    	<h3> Online Identity </h3>
						<br>
						<p>
							“Authenticity” vs Anonymity? in the early days of social media we used “screen-names” and sites like Geocities gave users a blank canvas to express themselves. today, sites like Facebook and Google come with lots of rules about how to express ourself online, any profile that breaks these rules is usually removed. how did we get here and what does it mean?
							<br><br>
							<div class="buttonDiv">
								<a href="0" class="button">Day 03 Notes</a>
							</div>
						</p>
				    </div> -->
				    <div class="column half"> 
				    	<h3> CSS: form follows function; </h3>
						<br>
						<p>
							BONUS: CSS ( Cascading Style Sheets ) which is the language used to ad form to the functional elements of a markup language ( ie. HTML ). CSS lets u specify rules that determine how the content of a page will appear, for ex: the color, size and typeface of your text. 
							<br><br>
							<div class="buttonDiv">
								<a href="bonus1" class="button">Bonus Notes</a>
							</div>
						</p>
				    </div>	
				     <div class="column half"> 
				    	<h3> X, Y, Z (the third dimension) </h3>
						<br>
						<p>
							the digital world can have an multiple dimensions, until now we’ve only been working in two. using the popular javascript library three.js we can add a third dimension to our projects and learn about all that comes with that ( cameras, meshes and more )
							<br><br>
							<div class="buttonDiv">
								<a href="bonus2" class="button">Bonus Notes</a>
							</div>
						</p>
				    </div>		    
				</div>





<!-- 				<h2>class home pages</h2>
				<p>
					<ul id="projects">{{sites}}</ul>
					
				</p> -->

			</div>
		</section>
		

		
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/jquery-1.11.1.min.js" type="text/javascript"><\/script>')</script>
		<script src="js/main.js"></script>

	</body>
</html>