	@font-face {

		font-family: 'inconsolata';
		src: url('font/inconsolata.woff') format('woff');
		font-weight: normal;
		font-style: normal;

	}

	html, body {
		height: 100%;
		-webkit-touch-callout: none;
	    -webkit-user-select: none;
	    -khtml-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	}

	body {

		margin: 0px;
		overflow: hidden;

		font-family: Arial;
	}


	#helper {

		position: absolute;
		top:0; left:0;
		z-index: 5;
		color:#fff;
		font-size:16px;
		width:50%;
	}

		#top { background: rgba(0,0,0,0.6); width:100%; }
		#mid { display: inline-block; position: absolute; }
		#bot { background: rgba(0,0,0,0.6); width:100%; position: absolute; }

	#guide-line {
		background: red;
		width: 200px;
		height: 1px;
		position: absolute;
		top:0px;
		left:0px;
		transform: rotate(90deg);
		display: none;
	}


	#preview {

		position: absolute;
		left: 50%;
		top: 0px;
		width: 50%;
		height: 100%;

	}

	#editor {

		position: absolute;
		width: 50%;
		height: 100%;

	}

	#editor .CodeMirror {

		height: 100%;
		font-family: inconsolata;
		font-size: 16px;
		/*background-color: rgba(39,40,34,0.85);*/
		background-color: #272822;

		-webkit-transform: translateZ(0); /* Workaround for OSX antialias issue */

	}

	#editor .CodeMirror-scroll {

		height: 100%;

	}

	#editor .CodeMirror div.CodeMirror-selected {

		background: rgba(0,0,0,0.1);

	}

	#editor .CodeMirror-focused div.CodeMirror-selected {

		/*background: rgba(0,0,255,0.1);*/
		background: rgba(186,186,186,0.1);

	}

	#editor .CodeMirror .errorLine {

		background: rgba(255,0,0,0.25);

	}

	#editor .CodeMirror .esprima-error {

		color: #f00;
		text-align: right;
		padding: 0px 20px;

	}

